@model IEnumerable<Review>
@foreach (var review in Model)
{
    <div class="modal-dialog">
        <div class="modal-content review-container">
            <div class="modal-header review-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">@review.Title</h4>
            </div>
            <div class="modal-body review-body">
                <p>@review.Text</p>
            </div>
            <div class="modal-footer review-footer">
                <p>Reviewed by @review.User.UserName</p>
            </div>
        </div>
    </div>
}