@model Review

<div class="modal-dialog">
    <div class="modal-content review-container">
        <div class="modal-header review-header">
            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
            <h4 class="modal-title">@Model.Title</h4>
        </div>
        <div class="modal-body review-body">
            <p>@Model.Text</p>
        </div>
        <div class="modal-footer review-footer">
            <p>Reviewed by @Model.User.UserName</p>
        </div>
    </div>
</div>
