@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>You can use our website to find the best shisha bars in Sofia.</p>
<p>Rate and review the bars you've visited to help others make the best choice.</p>
