@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title</h2>

<address>
    Contact us you would like us to add your shisha bar in our list.
</address>

<address>
    <strong>Email:</strong> shishatime@mail.com<br />
    <strong>Phone:</strong> 0888123456
</address>