@model IEnumerable<BarShortViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron home-image">
</div>

<h2 class="top-rated">Our Top-Rated Shisha Bars</h2>
@Html.DisplayFor(m => Model)