body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.home-image{
    height: 400px;
    background-size:cover;
    background-image: url('../Images/home-image.png');
    background-repeat: no-repeat;
}

.reviews-container{
    margin-top: 6%;
    width: 500px;
}

.review-form{
    margin-bottom: 15%;
   
}

.review-input{
     width: 600px;
}
.review-container{
    width: 500px;
}

.review-header{
    height: 60px;
}

.review-footer{
    height: 50px;
}

.review-body {
    word-wrap: break-word;
}

#rating .clear-rating{
    display: none;
}

#user-rating .clear-rating{
    display: none;
}

#rating .rating-stars{
    cursor: default;
}

#user-rating{
    margin-bottom: 20px;
}

.row .left-part{
    width: 52%;
}

h3.msg{
    margin-top: 40px;
}

.small-img{
    height: 200px;
}

.div-inline{
    display: inline-block;
}

#home-page-rating .clear-rating{
    display: none;
}

#home-page-rating .caption{
    display: none;
}

.home-bar{
    width: 650px;
}

.home-bar .modal-body{
    position: relative;
    height: 250px;
}

.home-bar .div-inline{
    position: absolute;
}

.home-bar .right{
    right: 0;
    padding-right: 15px;
}

h2.top-rated{
    text-align: center;
}

.home-bar .rating-stars{
    cursor: default;
}

.home-bar .rating-stars #user-rating{
    cursor: default;
}